<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NAMEOFFONTTTTTTTTTTTTTT">
    <title>Dashboard</title>
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/dashboard">{'you':happi}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Submit Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="alert('Gurl, you know we aint got no search')">Search</button>
            </form>
        </div>
    </nav>
    <!-- <h1 class="logo glow">{ 'you' : ______ }</h1> -->
    <div id="results">
        <video autoplay width="1300" loop muted class="vid">
            <source src="../static/images/logo2.webm" type="video/mp4">
        </video>
    </div>
    <form action="/process_answer" method="post" id="myForm">
        

            <!------------------------------- ----------BLOCK ONE --------------------------------------------------->
        <div class="questions">
            <!-- {% if session['answers']|length < 1 %} -->
            <div class="daily q1">
                <!-- <p id="q1"> {{session['state']}}</p> -->
                {% for answer, next_state in rules[session['state']] %}
                <div class="answer">
                    <input type="radio" name="next_state" value="{{next_state.value}}">{{answer.value}}
                    <input type="hidden" name="answer" value="{{ answer.value }}">
                </div>
                {% endfor %}
                <button type="submit1" class="btn btn-outline-light" onclick="re">Submit</button>
            </div>
            {% endif%}
            {% if session['answers']|length >= 1 %}
            <div class="daily q1">
                <p id="q1"> Interesting...</p>
            </div>
            {% endif%}

            <!------------------------------- ----------BLOCK TWO --------------------------------------------------->
            <!-- {% if session['answers']|length == 1 %}
            <div class="daily q2">
                <p> {{session['state']}}</p>
                {% for answer, next_state in rules[session['state']] %}
                <div class="answer">
                    <input type="radio" name="next_state" value="{{next_state.value}}">{{answer.value}}
                    <input type="hidden" name="answer" value="{{ answer.value }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </div>
            {% endif %}
            {% if session['answers']|length > 1 %}
            <div class="daily q2">
                <p id="q1"> Interesting...</p>
            </div>
            {% endif%} -->


            <!------------------------------- ----------BLOCK THREE --------------------------------------------------->
            <!-- {% if session['answers']|length == 2 %}
            <div class="daily q3">
                <p> {{session['state']}}</p>
                {% for answer, next_state in rules[session['state']] %}
                <div class="answer">
                    <input type="radio" name="next_state" value="{{next_state.value}}">{{answer.value}}
                    <input type="hidden" name="answer" value="{{ answer.value }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </div>
            {% endif %}
            {% if session['answers']|length > 2 %}
            <div class="daily q3">
                <p id="q1"> Interesting...</p>
            </div>
            {% endif%} -->

            <!------------------------------- ----------BLOCK FOUR --------------------------------------------------->
            <!-- {% if session['answers']|length == 3 %}
            <div class="daily q4">
                <p> {{session['state']}}</p>
                {% for answer, next_state in rules[session['state']] %}
                <div class="answer">
                    <input type="radio" name="next_state" value="{{next_state.value}}">{{answer.value}}
                    <input type="hidden" name="answer" value="{{ answer.value }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </div>
            {% endif %}
            {% if session['answers']|length > 3 %}
            <div class="daily q4">
                <p id="q1"> Interesting...</p>
            </div>
            {% endif%} -->

            <!------------------------------- ----------BLOCK FOUR --------------------------------------------------->
            <!-- {% if session['answers']|length == 4 %}
            <div class="daily q5">
                <p> {{session['state']}}</p>
                {% for answer, next_state in rules[session['state']] %}
                <div class="answer">
                    <input type="radio" name="next_state" value="{{next_state.value}}">{{answer.value}}
                    <input type="hidden" name="answer" value="{{ answer.value }}">
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </div>
            {% endif %}
            {% if session['answers']|length > 4 %}
            <div class="daily q5">
                <p id="q1"> Interesting...</p>
            </div>
            {% endif%}
        </div>  
    </form>
    {% if session['answers']|length > 4 %} -->

    <a href="/">
    <video autoplay width="1300" loop muted class="vid">
        <source src="../static/images/calc3.webm" type="video/mp4">
    </video>
    </a>
    <!-- {% endif%} -->
    <video playsinline autoplay muted loop poster="video_still" id="bgvid">
        <source src="../static/images/login.webm" type="video/mp4">
    </video>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>