<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NAMEOFFONTTTTTTTTTTTTTT">
    <title>Login</title>
</head>
<body class="body">
    <div class="content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-msg bg-warning text-dark small rounded p-4">
            {% for message in messages %}
                <p class="m-0">- {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar2">
        <a class="navbar-brand" href="/dashboard">{'you':happi}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Submit Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="alert('Gurl, you know we aint got no search')">Search</button>
            </form>
        </div>
    </nav>
    <div id="results">
        <video autoplay width="800" loop muted class="vid">
            <source src="../static/images/results.webm" type="video/mp4">
        </video>
    </div>
    <div class="register">
        <form class="login" action="/user/add" method="POST">
            <h1 class="shine">Register Now!</h1>
            <label for="staticEmail" class="col-5 bg-dark p-4 my-5 mx-auto text-light">*All fields required</label>
            <div class="form-group row">
                <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-3 drop-shadow" id="first_name" placeholder="First Name" name="first_name">
                </div>
                <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-3 drop-shadow" id="last_name" placeholder="Last Name" name="last_name">
                </div>
                <label for="email" class="col-sm-2 col-form-label drop-shadow">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-3 drop-shadow" id="email" placeholder="Email" name="email">
                </div>
                <label for="inputPassword" class="col-sm-2 col-form-label drop-shadow">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control col-3 drop-shadow" id="inputPassword" placeholder="Password" name="password">
                </div>
                <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control col-3 drop-shadow" id="inputPassword" placeholder="Confirm Password" name="confirm_password">
                </div>
            </div>
            <input type="submit" value="REGISTER" class="btn btn-success">
        </form>
        <form class="login signin" action="/user/login" method="POST">
            <h1 class="shine">Log In!</h1>
            <label for="staticEmail" class="col-5 bg-dark p-4 my-5 mx-auto text-light">*All fields required</label>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control col-3 drop-shadow" id="inputPassword" placeholder="Email" name="email">
                </div>
                <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control col-3 drop-shadow" id="inputPassword" placeholder="Password" name="password">
                </div>
                <input type="submit" value="LOG IN" class="btn btn-success">
            </form>
        </div>
    </div>

    <video playsinline autoplay muted loop poster="video_still" id="bgvid">
        <source src="../static/images/login.webm" type="video/mp4">
    </video>
    <video playsinline autoplay muted loop poster="video_still" id="dna">
        <source src="../static/images/dna3.webm" type="video/mp4">
    </video>
    <img width="200" src="../static/images/sign_up_00000.png" alt="sign" class="sign">
</body>
</html>