<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/dashboard">{'you':happi}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Submit Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="alert('Gurl, you know we aint got no search')">Search</button>
            </form>
        </div>
    </nav>
    <div id="results">
        <video autoplay width="1300" loop muted class="vid">
            <source src="../static/images/logo2.webm" type="video/mp4">
        </video>
    </div>
    <div id="box_container">
        <div class="daily q1">
            <p class="daily-question">Which direction do you like your toilet paper to face?</p>
            <div id="choice_one">
                <input type="radio" name="choice" id="first" value=1>
                <label for="first">Over</label><br>
            </div>
            <div id="choice_two">
                <input type="radio" name="choice" id="second" value=2>
                <label for="second">Under</label><br>
            </div>
            <button type="submit" class="btn btn-outline-light" id="submit">Submit</button>
        </div>
    </div>
<a href="/">
    </a>
    <video playsinline autoplay muted loop id="bgvid">
        <source src="../static/images/login.webm" type="video/mp4">
    </video>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>